<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../poster_img/konva.min.js"></script>
    <meta charset="UTF-8">
    <title>speak to me </title>

    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(0, 0, 0);
        }
    </style>
<head>

<body>

    <div id="container">
        <!-- {% for name, metadata in movies_data.iteritems() %}
            <img src='../poster_img/{{metadata.img_filename}}' 
                alt="{{name}}" id="{{name}}" name="{{metadata.score}}"/>
        {% endfor %} -->
        <div id="status">
                <span style="color: white">volum: <strong id='status_num' style="color: white;">0</strong></span>
        </div>
        <button onclick="redraw('../poster_img/p2416606535.jpg')">画图</button>
        <button onclick="volumToMovies(61)">模拟声音</button>
        <button onclick="volumToMovies(43)">模拟声音</button>
        <button onclick="start_or_stop()">暂停/开始</button> -->
    </div>
    
    <script>
        ignore_noise = false;
        movies_data_by_score = JSON.parse('{{score_dict}}');
        console.log(movies_data_by_score);
        mystatus = document.getElementById("status_num");
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
        if(!navigator.getUserMedia){
            mystatus.innerHTML = "您的浏览器不支持获取音频。";
        }

        //调用麦克风捕捉音频信息，成功时触发onSuccess函数，失败时触发onError函数
        navigator.getUserMedia({audio: true}, onSuccess, onError); 

        function onError() {
            mystatus.innerHTML = '获取音频时出现问题...';
        }

        function onSuccess(stream) {
            console.log("success ... ");
            audioContext = window.AudioContext || window.webkitAudioContext;
            context = new audioContext(); //创建一个管理、播放声音的对象
            liveSource = context.createMediaStreamSource(stream); //将麦克风的声音输入这个对象
            var levelChecker = context.createScriptProcessor(16384, 1, 1); //创建一个音频分析对象，采样的缓冲区大小为4096，输入和输出都是单声道
            liveSource.connect(levelChecker); //将该分析对象与麦克风音频进行连接
            levelChecker.onaudioprocess = function(e) { //开始处理音频
                var buffer = e.inputBuffer.getChannelData(0); //获得缓冲区的输入音频，转换为包含了PCM通道数据的32位浮点数组
                //创建变量并迭代来获取最大的音量值
                var maxVal = 0; 
                for (var i = 0; i < buffer.length; i++) {
                    if (maxVal < buffer[i]) {
                        maxVal = buffer[i];
                    }
                }
                //显示音量值
                mystatus.innerHTML = "您的音量值："+Math.round(maxVal*100);
                //if(maxVal>.5){
                    //当音量值大于0.5时，显示“声音太响”字样，并断开音频连接
                //    mystatus.innerHTML = "您的声音太响了!!";
                //    liveSource.disconnect(levelChecker);
                //}
                maxVal = maxVal * 100;
                if (maxVal < 20) {
                    return;
                } else {
                    ignore_noise = false;
                    console.log("get noise ... ");
                    if (!ignore_noise) {
                        ignore_noise = false;
                        volumToMovies(maxVal);
                    } else {
                        console.log('ignoring noise cause there is a show already...');
                    }
                }
            };
        }

        function volumToMovies(volum) {
            var score = (volum / 10).toFixed(1).toString();

            // 因为没有１０分的电影，所以用最高分的电影来代替
            if (score === '10.0') {
                score = '9.3';
            }

            console.log('get volum : ' + score);
            if (!(score in movies_data_by_score)) {
                var all_scores = Object.keys(movies_data_by_score);
                console.log(all_scores);
                var score_num = parseFloat(score);
                
                // 找到最接近的得分
                var score_delta = 10;
                var score_index = 0;
                for (var i=0; i<all_scores.length; i++) {
                    var score_tmp_data = (parseFloat(all_scores[i]) - score_num);
                    
                    if (score_tmp_data < score_delta && score_tmp_data > 0) {
                        score_delta = score_tmp_data;
                        score_index = i;
                    }
                }
                score = all_scores[score_index];
                anim.stop();
                console.log('selected: ' + score);
                redraw('../poster_img/' + movies_data_by_score[score][0]['img_filename']);
                anim.start();
                ignore_noise = true;
                return;
            } else {
                anim.stop();
                redraw('../poster_img/' + movies_data_by_score[score][0]['img_filename']);
                anim.start();
            }
            ignore_noise = true;
        }

        function redraw(img_src) {
            anim.stop();
            var layer = new Konva.Layer();
            var redraw_img = new Image();
            redraw_img.src = img_src;
            var knova_imag = new Konva.Image({
                x: (width * 0.5) - 206,
                y: (height * 0.5) - 318,
                image: redraw_img,
                width: 206 * 2,
                height: 318 * 2,
                shadowBlur: 100,
            });
            layer.add(knova_imag);
            stage.add(layer);

            var scaleInterval = setInterval(function() {
                knova_imag.scaleX(1.1);
                knova_imag.scaleY(1.1);
                knova_imag.x(width * 0.5 - knova_imag.width() / 2);
                knova_imag.y(height * 0.5 - knova_imag.height() / 2);
                layer.draw();
            }, 1000);
            setTimeout(function() {window.clearInterval(scaleInterval); layer.destroy()}, 5000);
        }

        function start_or_stop() {
            if (anim.isRunning()) {
                anim.stop();
            } else {
                anim.start();
            }
        }

        // draw all image on the canvas
        var width = window.innerWidth;
        var height = window.innerHeight;

        var stage = new Konva.Stage({
            container: 'container',
            width: width,
            height: height
        });

        var layer = new Konva.Layer();
        var images_src = [{% for name, metadata in movies_data.iteritems() %} '../poster_img/{{metadata.img_filename}}', {% endfor %}];
        var images_obj = [];
        var images_status = [];
        console.log(images_src);
        
        for (var i=0; i<images_src.length; i++) {
            var imgobj = new Image();
            imgobj.src = images_src[i];
            var poster = new Konva.Image({
                x: width * Math.random(),
                y: height * Math.random(),
                image: imgobj,
                width: 206,
                height: 318,
                shadowBlur: 40,})
            layer.add(poster);
            images_obj.push(poster);
            images_status.push(i % 2);
        }

        stage.add(layer);

        // shake it baby!
        var amplitude = 100000;
        var period = 20000;
        // in ms
        var centerX = stage.getWidth() / 2;

        // width and height
        console.log('width: ', width);
        console.log('height: ', height);
        var anim = new Konva.Animation(function(frame) {
            for (var k=0; k<images_obj.length; k++) {
                var poster = images_obj[k];
                var poster_x = poster.x();
                var poster_y = poster.y();
                var delta = 20 / frame.frameRate;
                
                // 改变运动状态
                if (poster_x > (width - 206)|| poster_y > (height - 318)) {
                    images_status[k] = 1;
                } 

                if (poster_x < 0 || poster_y < 0) {
                    images_status[k] = 0;
                }

                if (images_status[k] === 0) {
                    if (Math.random() > 0.5) {
                        poster.x(poster_x + delta * Math.random());
                    }
                    poster.y(poster_y + delta * Math.random());
                    
                } else if (images_status[k] === 1) {
                    if (Math.random() > 0.5) {
                        poster.x(poster_x - delta * Math.random());
                    }
                    poster.y(poster_y - delta * Math.random());
                }
            }
        }, layer);

        anim.start();
        
    </script>
</body>
